    /* Vous pouvez récupérer ça jusqu'au prochain message */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Alexandria', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(10px, 1.36vw, 20px);
}

h1 {
    font-family: 'Koulen', sans-serif;
    font-size: clamp(28px, 5.44vw, 90px);
    margin: 0;
}

.leaf {
    width: clamp(30px, 4.76vw, 70px);
    height: clamp(30px, 4.76vw, 70px);
}

#line1 {
    width: clamp(240px, 46.26vw, 680px);
    height: 1px;
    background-color: black;
    border: none;
    margin: 0 auto;
    margin-top: clamp(-10px, -2.04vw, -30px);
}

#navbar {
    display: flex;
    justify-content: flex-end;
    gap: clamp(10px, 3.52vw, 50px);
    font-size: clamp(10px, 1.36vw, 24px);
    text-align: center;
    margin-bottom: clamp(5px, 0.7vw, 15px);
    margin-top: clamp(10px, 2.11vw, 30px);
    margin-right: clamp(10px, 3.52vw, 50px);
}

#navbar a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    transition: color 0.1s, text-shadow 0s;
}

#navbar a:hover {
    color: #153A04;
    text-shadow: 0px 0px 0.7px #153A04;
}

#dropdown {
    position: relative;
}

#dropdownmenu {
    display: none;
    position: absolute;
    background-color: white;
    opacity: 80%;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 16vw; 
    min-width: 120px;
    text-align: left;
    box-shadow: 0px 0.27vw 0.41vw #000000b3;
    z-index: 10;
}

#dropdown:hover #dropdownmenu {
    display: block;
}

#dropdownmenu li {
    padding: clamp(5px, 0.68vw, 15px);
    font-size: clamp(9px, 1.22vw, 20px);
}

#dropdownmenu li a {
    text-decoration: none;
    color: black;
    display: block;
}

#dropdownmenu li a:hover {
    text-shadow: 0px 0px 0.7px black; 
}

#logo {
    position: absolute;
    top: clamp(10px, 1.36vw, 20px);
    left: clamp(10px, 1.36vw, 20px);
    width: clamp(50px, 6vw, 103px);
    height: clamp(38px, 4.5vw, 77px);
}

    /* Vous pouvez récupérer jusque ici et n'oubliez pas le footer plus bas*/

#intro h2 {
    color: #153A04;
    text-align: center;
    font-size: clamp(18px, 2.72vw, 40px);
    margin-bottom: 0px;
    margin-top: clamp(5px, 2.04vw, 30px);
}

#subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(-5px, 1.36vw, 20px);
    margin-top: clamp(5px, 0.68vw, 10px);
    margin-bottom: clamp(20px, 2.72vw, 40px);
}

#subtitle h3 {
    font-size: clamp(12px, 2.04vw, 30px);
    margin: 0px;
}

#subtitle hr {
    width: clamp(100px, 27.5vw, 404px);
    height: 1px;
    background-color: #153A04;
    border: none;
}

#presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0px, 5.44vw, 80px);
}

#presentation img {
    width: clamp(300px, 37.4vw, 550px);
    height: clamp(180px, 22.6vw, 332px);
    object-fit: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#text{
    max-width: clamp(250px, 41vw, 600px);
}

#text1 {
    font-size: clamp(13px, 1.77vw, 26px);
    font-weight: bold;
    text-align: center;
}

#text2 {
    font-size: clamp(12px, 1.63vw, 24px);
    text-align: justify;
}

#text3 {
    font-size: clamp(11px, 1.56vw, 23px);
    font-weight: bold;
    text-align: center;
}

#engagement h2 {
    color: #153A04;
    text-align: center;
    font-size: clamp(16px, 2.38vw, 36px);
    margin-bottom: 0px;
    margin-top: clamp(20px, 3.4vw, 50px);
}

#line2 {
    width: clamp(170px, 26vw, 380px);
    height: 1px;
    background-color: #153A04;
    border: none;
    margin: 0px auto 20px; 
}

#engagements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.engagementlight, .engagementdark {
    width: 50%; 
    padding: clamp(20px, 4vw, 60px);
    text-align: center;
    box-sizing: border-box;
    min-height: 192px;
    align-items: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.engagementlight {
    background-color: #EFFBE9;
    color: #153A04;
}

.engagementdark {
    background-color: #153A04;
    color: #EFFBE9;
}

.title {
    font-size: clamp(13px, 1.63vw, 26px);
    font-weight: bold;
    margin-bottom: 0px;
}

.engagementlight p, .engagementdark p {
      font-size: clamp(12px, 1.50vw, 24px);
}

#stats {
    display: flex;
    text-align: center;
}

.stat {
    flex: 1; 
}

.number {
    color: #153A04;
    font-size: clamp(14px, 2.04vw, 32px);
    font-weight: bold;
    margin-bottom: clamp(10px, 1.36vw, 20px);
}

.label {
    color: #153A04;
    font-size: clamp(12px, 1.50vw, 28px);
    font-weight: 500;
}

h2{
    color: white;
    font-size: 0px;
    margin: 0px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    max-width: clamp(360px, 80%, 900px);
    margin: clamp(15px, 2.72vw, 40px) auto;
}

#facebook, #instagram {
    width: clamp(100px, 11vw, 160px);
}

#facebook img, #instagram img {
    width: clamp(30px, 3.68vw, 54px);
    height: clamp(30px, 3.68vw, 54px);
    display: block;
    margin: 0 auto;
}

#facebook p, #instagram p {
    font-size: clamp(9px, 1.50vw, 22px);
    margin-top: clamp(3px, 0.5vw, 5px);
    margin: 5px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0; 
    width: clamp(180px, 20vw, 300px);
}

.photos img {
    width: calc(100% / 3); 
    height: auto;
}

    /* Vous pouvez récupérer ça jusqu'au prochain message */

footer {
    position: relative;
    width: 100%;
    height: clamp(70px, 15vw, 180px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#background {
    width: 100%;
    height: clamp(70px, 15vw, 180px);
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#content {
    position: relative;
    text-align: center;
    z-index: 1;
}

#content img {
    width: clamp(50px, 6vw, 100px);
    height: clamp(40px, 4.5vw, 75px);
}

#content p {
    color: white;
    font-size: clamp(7px, 1.02vw, 18px);
    margin-top: 0.69vw;
    margin-bottom: 0px;
}

#accueil {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(250px, 44.2vw, 650px);
}

#bg {
    width: 100%;
    height: clamp(250px, 44.2vw, 650px);
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#accueil h2 {
    position: relative;
    color: white;
    font-size: clamp(25px, 4.35vw, 64px);
    text-align: center;
    text-shadow: 0px 3px 3px rgba(65, 65, 65, 0.25);
}

#intro {
    text-align: center;
    padding: clamp(10px, 1.36vw, 20px);
    margin-bottom: clamp(8px, 1.02vw, 15px);
}

#intro p {
    font-size: clamp(12px, 1.63vw, 26px);
    width: clamp(280px, 54.42vw, 870px);
    margin: 0 auto;
    line-height: 1.5;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(15px, 2.04vw, 30px);
    margin: 0px 50px 0px 50px;
}

.info div {
    width: 50%;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dark {
    background-color: #153A04;
    color: #EFFBE9;
    align-self: flex-start;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.light {
    background-color: #EFFBE9;
    color: #153A04;
    align-self: flex-end;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.white {
    background-color: #F5F5F5;
    color: #153A04;
    align-self: flex-start;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.info p.text1 {
    font-weight: bold;
    font-size: clamp(11px, 1.50vw, 28px);
    margin-bottom: 0px;
}

.info p.text2 {
    font-weight: normal;
    font-size: clamp(10px, 1.36vw, 24px);
}

.dark:hover, .light:hover, .white:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.citation {
    width: 65%; 
    margin: clamp(25px, 3.4vw, 50px) auto;
    text-align: center;
    font-style: italic;
    font-size: clamp(10.88px, 1.36vw, 19.99px);
}

    /* Vous pouvez récupérer ça jusque ici */

.témoignages {
    width: 80%;
    margin: auto;
    margin-bottom: clamp(0px, 5.44vw, 80px);
}

.témoignages .left, .témoignages .right {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: clamp(10.88px, 1.36vw, 20px);
}

.témoignages img {
    width: clamp(220px, 34.02vw, 500px);
    aspect-ratio: 16 / 9; /* Définit un format fixe */
    object-fit: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out; 
}

.imgl{
    margin-right: 15px;
}

.imgr{
    margin-left: 15px;
}

.témoignages img:hover {
    transform: scale(1.1);
}

.témoignages p {
    font-size: clamp(10px, 1.36vw, 24px);
    text-align: center;
    max-width: 600px;
    width: fit-content;
    line-height: 1.4;
}

@media (max-width: 425px) {
    #presentation {
        display: block; 
        text-align: center; 
    }

    #presentation img {
        width: 80%; 
        height: auto; 
    }

    #text {
        max-width: 90%; 
        margin: 5px auto 0px;; 
    }

    #stats {
        flex-wrap: wrap;
        justify-content: center; 
        margin: 5px;
    }

    .stat {
        width: calc(100% / 3); 
        flex: none;
    }

    #navbar {
        justify-content: center; 
        margin-right: 0; 
    }

    .témoignages .left, .témoignages .right {
        flex-direction: column; /* Empile les éléments */
        align-items: center; /* Centre le texte et l’image */
        text-align: center; /* Centre le texte */
    }

    .imgl, .imgr {
        margin: 0 0 10px 0; /* Supprime les marges latérales et ajoute de l’espace en dessous */
    }

    .right img {
        order: -1; /* Met l'image en premier */
    }

    .info {
        align-items: center;
    }

    .info div {
        width: 100%;
        align-self: center;
    }

    .citation {
        width: 80%; 
    }
}
